.element-templates {
  position: absolute;
  top: 0;
  left: -9999px;
}

.element {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  outline: 1px dashed transparent;
  outline-offset: 2px;
}
.element.ui-draggable-dragging,
.element-dragged {
  opacity: .8;
}
.element-selected {
  outline-color: #00BFFF;
}

.element-endpoint.element-endpoint-hover circle {
  fill: #0BF;
}
.element-endpoint.element-endpoint-valid circle {
  fill: #F90;
}
.element-endpoint.element-endpoint-accept circle {
  fill: #8C0;
}

.element-connection path {
  stroke-width: 2;
}
.element-connection-hover path {
  stroke: #0BF;
}
.element-connection > path:first-child {
  pointer-events: visibleStroke;
}

.element-rect,
.element-circle {
  width: 78px;
  height: 78px;
  background: #FFF;
  text-shadow: 0 1px 1px #DDD;
  display: table;
  border: 2px solid #456;
}
.element-circle {
  border-radius: 40px;
}
.element-rect:hover,
.element-circle:hover {
  background: #F5F5F5;
  text-shadow: 0 1px 1px #FFF;
}
.element-rect p,
.element-circle p {
  margin: 0;
  padding: 10px;
  line-height: 1;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.element-rect-endpoint circle,
.element-circle-endpoint circle {
  fill: #456;
}
