@import "scrollbar.css";
@import "editor.css";
@import "element.css";
@import "zIndex.css";

._jsPlumb_endpoint_floating {
  visibility: hidden;
}

body {
  cursor: default;
}
.navbar .brand {
  margin-left: 0;
}

