<p class="editor-chat-user" data-id="<%= id %>">
  <span class="editor-chat-user-badge" style="background-color: <%= color %>">&nbsp;</span><span class="editor-chat-user-name"><%= name %></span>
</p>
